/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.app-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.app-card-content {
  text-align: center;
}
